html{
    overflow-x: hidden;
}

body{
    background-color: #F4FFFB;
}

.main-anchors:hover{
    opacity: 0.0;
    transform: scale(2.0);
}

.main-button{
    background-color: black;
    font-size: 10px;
    color: white;
    border: 0px;
    padding: 0px;
    position: relative;
    width: 80px;
    height: 30px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.main-button::after{
   content: ' ';
   background-color: black;
   position: absolute;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   left: 80%;
   top: 0px;
   z-index: -1;  
}

.main-button::before{
    content: ' ';
    background-color: black;
    position: absolute;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    right: 80%;
    top: 0px;
    z-index: -1;  
 }

.main-button:hover{
    opacity: 0.5;
    transform: scale(2.0);
}

a{
    font-family: Poppins;
}

h1{
    font-family: Syne;
}